.slide--left-hide {
  opacity: 0;
  transition: all 1.5s;
  transform: translateX(-100%);
  filter: blur(5px);
}

.slide--right-hide {
  opacity: 0;
  transition: all 1.5s;
  transform: translateX(100%);
  filter: blur(5px);
}

.slide--top-hide {
  opacity: 0;
  transition: all 1s ease-in-out;
  transform: translateY(-100%);
  filter: blur(2px);
}

.slide--bottom-hide {
  opacity: 0;
  transition: all 1s ease-in-out;
  transform: translateY(100%);
  filter: blur(2px);
}

.slideup--expand-hide {
  opacity: 0.1;
  scale: 0.5;
  transform: translateX(100%);
  filter: blur(2px);
  transition: all 0.5s ease-in-out;
}

.show-expand {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
  scale: 1;
}

.show-x {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

.show-y {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

.expertise--item:nth-child(2) {
  transition-delay: 300ms;
}

.expertise--item:nth-child(3) {
  transition-delay: 600ms;
}
