.title {
  font-size: 40px;
  position: relative;
  z-index: 1;
  width: fit-content;
}

.title::after {
  content: '';
  height: 5px;
  width: 80%;
  position: absolute;
  bottom: 10px;
  right: -0px;
  background-color: #66fcf1;
  z-index: -1;
  opacity: 0.9;
}

.flash {
  opacity: 1;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.nav-down {
  animation: upDown 1s linear infinite;
}

@keyframes upDown {
  50% {
    transform: translateY(-10px);
  }
  0%,
  100% {
    transform: translateY(0px);
  }
}

.tab-button {
  position: relative;
  /* margin: 10px 20px; */
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  border-left-color: gray;
  border-left-width: 2px;
}

/* .bar::before {
  content: '';
  height: 100%;
  width: 2px;
  position: absolute;
  left: 0px;
  background-color: gray;
  z-index: 9999;
  opacity: 0.9;
}

.selected {
  color: #66fcf1;
  background-color: rgb(0, 0, 35, 0.5);
}

.selected::before {
  content: '';

  background-color: #66fcf1;
  z-index: 9999;
  opacity: 0.9;
  transition: all 1s;
} */
