.dialog {
  z-index: 9990;
  position: fixed;
  inset: 0;
  min-height: 100vh;
  min-width: 100vw;
}

.dialog--overlay {
  height: 100%;
  width: 100%;
  background-color: #161515a5;
  z-index: 9998;
}

/* dialog  */
.dialog--content {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: bottom;
  overflow: scroll;
  max-height: 80vh;
  transition: all 1s ease;
}
