@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: #66fcf1;
  --contractColor: #8134df;
}

html {
  box-sizing: border-box;
  background-color: rgb(17 24 39);
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

input {
  width: 100%;
}

input:focus {
  outline: none !important;
  border: 1.5px solid #66fcf1;
  box-shadow: 0 0 5px #719ece;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
  width: 100%;
}

textarea:focus {
  outline: none !important;
  border: 1.5px solid #66fcf1;
  box-shadow: 0 0 5px #719ece;
}
